* {
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
}
.navbar {
    display: flex;
    justify-content: space-between;
    
}

.navbar-nav li {
    margin-right: 30px;
}
/*
#jumbo {
    background-image: url('../img/jumbo-img-one.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
*/

#diapo {
    background-image: url('../img/jumbo-img-one.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron p {
    color: white;
}

.jumbotron h1 {
    color: #258fc1;
}

/*
.btn {
    background-color: #008b39;
    border-color: #008b39;
}

.btn:hover {
    background-color: white;
    border-color: #008b39;
    color: #008b39;
}*/
/*
.btn:visited {
    background-color: #008b39;
    border-color: #008b39;
}
*/
.img-login {
    background-image: url("../img/bg-body.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*background-color: pink;*/
}

#cards {
    /* Uncomment if needed visibility: hidden;*/
    background-color: #333333;
    display: inline;
}

.mccs-footer {
    background-color: #258fc1;
    color: white;
}