* {
    margin: 0;
    padding: 0;
}

#jumbo {
    background-image: url('../img/jumbo-img-one.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.jumbotron p {
    color: white;
}

.jumbotron h1 {
    color: #008b39;
}

.nav-link {
    color: #008b39;
}

.nav-link:hover {
    color: white;
    font-weight: bolder;
    text-decoration: underline;    
}

.btn {
    background-color: #008b39;
    border-color: #008b39;
}

.btn:hover {
    background-color: white;
    border-color: #008b39;
    color: #008b39;
}
/*
.btn:visited {
    background-color: #008b39;
    border-color: #008b39;
}
*/

#cards {
    visibility: hidden;
}

.mccs-footer {
    background-color: #333333;
    color: white;
}